{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'beta/style.css' %}" />
<title> ezbeta: {{ location.location_name }} </title>
<strong>{{ location.location_name }}: {{area.area_name}}: {{route.route_name}}</strong>
{% if set_date <  now %}
    <ul>
      <a>Set Date: {{ set_date }}</a>
      <p>Grade: V{{ grade }}</a></p>
      <p>Rating: {{ rating }}</a></p>
    </ul>
  {% if beta_list %}
    <ul>
    {% for beta in beta_list %}
      <li><a href="{% url 'beta:beta_detail' beta.id %}">{{ beta.beta_name }}</a></li>
    {% endfor %}
    </ul>
  {% else %}
    <p>No betas are available.</p>
  {% endif %}
{% else %}
    <p>This route is not set yet.</p>
{% endif %}
