{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'beta/style.css' %}" />
<title> ezbeta: {{ location.location_name }} </title>
<strong>{{ location.location_name }}: {{area.area_name}}</strong>
<p> Long, Lat: {{area.longitude}}, {{area.latitude}} </p>
<p> {{area.area_desc}} </p>
{% if route_list %}
  <ul>
  {% for route in route_list %}
    <li><a href="{% url 'beta:route'  route.id %}">{{ route.route_name }}</a></li>
  {% endfor %}
  </ul>
{% else %}
  <p>No routes are available.</p>
{% endif %}
